body {
    font-style: #f9faf8;
}

ul.hl {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hlinks {
    display: flex;
    flex-direction: row;
    gap: 18px;
    padding-top: 15px;
}

.hlogo {
    padding-top: 15px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.description {
    font-size: 18px;
    width: 400px;
}

button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 8px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(72, 72, 250);
}

.darkblue {
    height: 500px;
    background: #1f2937;
    color: white;
}



.Hollywood {
    height: auto;
    width: 18em;

}

.LAHollywood {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;

}

.white {
    height: 500px;
    background: white;

}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    height: 65%;
}

.logo {
    height: 150px;
}

.random {
    display: flex;
    justify-content: center;
    font-size: 25px;
    align-items: center;
    padding: 2rem;

}

.LAD {
    display: flex;
    flex-direction: column;
    width: 150px;
    font-size: 18px;
    align-items: center;
    padding-top: 18px;
}



.LAK {
    display: flex;
    flex-direction: column;
    width: 150px;
    font-size: 20px;
}

.LAL {
    display: flex;
    flex-direction: column;
    width: 150px;
    font-size: 18px;
}

.LAR {
    display: flex;
    flex-direction: column;
    width: 150px;
    font-size: 18px;
}


.grey {
    height: 500px;
    background: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.white2 {
    height: 300px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.textbutton {
    background: royalblue;
    padding: 25px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    gap: 10px;
}

.call {
    color: white;
}

.button2 {
    border: 1px solid white;
}

.footer {
    height: 50px;
    background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
